@import url('tophead.css');
#main_form{
	text-align:center;
	margin-top: 20px;
}
#text1{
	width: 500px;
}
#logopic{
	text-align:center;
	margin-top: 100px;
}
a {
	text-decoration:none;
}
.history{
	text-align: center;
	margin-top: 60px;
}
.codebar{
	margin: 20px;
}
code{
	margin: 10px;
}
.his{
	font-size: 10px;
	margin-bottom: 10px;
}