
@import url('tophead.css');

#text1{
	width: 500px;
}

#wrapper{
	
	margin-left: -10px;
	margin-top: -10px;
	
}
#main{
	padding-top: 15px;
	width: 100%;
	position: relative;
	height: 80px;
	top: -2px;
	left: -2px;
	margin-top: 2px;
}

#main img{
	vertical-align: text-bottom;
	display: inline;
	float: left;
	margin-left: 20px;
}
#main form{
	margin-left: 220px;
	margin-top: 25px;
}
#content{
	margin-top: 20px;
	margin-left: 20px;
	width:  80%;

}
#right{
	width: 20%;
	float:right;
	height: 10px;
}
.column{
	margin-left: 0px ;
}
.item_pic{
	width: 210px;
	height: 220px;
}

.price{
	float: left;
}
.shop_addr{
	float: right;	
	margin-right: 40px;
}
.item_origin_price{
	color: #808080;
}
.item_price{
	color: #800080;
	font-weight: bold;
}
.shop_addr{
	font-size:0.8em;
}
.addr{
	color: #808080;
}
.trans_pay{
	color: #FF4500;
	font-weight: bold;
}
.Name_p{
	font-size: 0.9em;
	width: 75%;
}
a{
	color: #66CCFF;
	text-decoration:none;
}
span.H{
	color:#ff0000;
}
#pagepick{
	bottom: 0;
	width: 50%;
	margin: 0 auto;
}
button.pickpage{
	margin-left: 20;
}
span.lose{
	margin-left: 20;
}