footer{
	width:100%;
	position: absolute;
	bottom:10px;
	left:0;
	text-align:center;
}
#content{
	padding-left: 100px;
	padding-top: 10px;
}
.One_Info{
	margin-left: 100px;
}
.Item_Pic{
	float: left;
}
.Item_Name{

}
.Item_Price{
	
}
.Shop_Addr{

}
#main{
	margin-top: 10px;
	width:70%;
	text-align: center;
}
#search{
	height: 30px;
	width: 500px;
	font-size: 16;
}
#logo{
	float: left;
}
#btn{
	font-family: Cursive;
	font-size: 17;
	color: #777;
	font-weight: bold;
	height: 30px;
	width: 70px;	
}

